<h1>Housemate Rent Share</h1>
<p>We can split the rent and utility expenses</p>
<p>Month: </p>
<ul>
	
	<li>Total:</li>
</ul>

<ul>
	<li>Paul</li>
	<li>Sarah</li>
	<li>Steve</li>
	<li>Total:</li>
</ul>
